@using Hadi.Cms.Language.Resources

@{
    ViewBag.Title = Strings.Global_ChangePassword;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>@Strings.Global_ChangePassword</h2>
		<ol class="breadcrumb">
			<li>
				<p class="label-danger">
					@Strings.Change_Password_Hint
				</p>
			</li>
			<div style="float: left; display: @(ViewBag.Success == null ? "none" : "block")">
				<div class="alert @(ViewBag.Success == "1" ? "alert-success" : "alert-danger") alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					@ViewBag.Message
				</div>
			</div>
		</ol>
	</div>
	<div class="col-lg-2">
		
	</div>
</div>

<div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top:20px;">
	<div>
		<p>@Strings.Global_PleaseInsertNewPassword</p>

		@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "ChangePasswordForm", @class = "m-t" }))
		{
			@Html.AntiForgeryToken()
			<div class="form-group">
				<input id="userId" name="userId" type="hidden" value="@ViewBag.UserId" />
				<input type="password" name="password" id="password" class="form-control" onkeyup="passwordStrength()" placeholder="@Strings.UserMetadata_Password" required="">
				<hr id="passwordMeter" style="border-width: 6px;margin: 6px 0;" />
				<a id="showhide" class="btn btn-white btn-bitbucket" onclick="toggle_password();" style="position: absolute;top: 73px;left: -40px;">
					<i id="showhideI" class="fa fa-eye">
					</i>
				</a>
			</div>
			<div class="form-group">
				<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="@Strings.UserMetadata_ConfirmPassword" required="">
			</div>
			<button type="submit" class="btn btn-primary block full-width m-b">@Strings.Global_ChangePassword</button>
		}
	</div>
</div>

@section scripts{
	<script>
		var passCharStatus = 0;

		$(function () {
			$('#ChangePasswordForm').submit(function () {
				if ($("#password").val() == "") {
					MyAlert('خطا', 'لطفا رمز عبور معتبر وارد کنید', 4000, 'error');
					return false;
				}
				else if ($("#password").val() != $("#confirmPassword").val()) {
					MyAlert('خطا', 'کلمه عبور با تکرار آن مطابقت ندارد', 4000, 'error');
					return false;
				}
			});
		});

		function toggle_password() {
			var d = document;
			var tag = d.getElementById("password");
			var tag2 = d.getElementById("showhideI");

			if (passCharStatus == 0) {
				tag.setAttribute('type', 'text');
				passCharStatus = 1;
				tag2.className = "";
				tag2.className = "fa fa-eye-slash";

			} else {
				tag.setAttribute('type', 'password');
				passCharStatus = 0;
				tag2.className = "";
				tag2.className = "fa fa-eye";
			}
		}

		function passwordStrength() {
			var password = $("#password").val();
			var score = 0;

			if (password.length > 8) {
				score += 25;
			}
			if ((password.match(/[a-z]/)) && (password.match(/[A-Z]/))) {
				score += 25
			}
			if (password.match(/[\!\@@\#\$\%\^\&\*\?\_\~\-\(\)]+/)) {
				score += 25;
			}
			if (password.match(/[0-9]/)) {
				score += 25
			}

			switch(score) {
				case 0:
					$("#passwordMeter").css("border-color", "red");
					break;
				case 25:
					$("#passwordMeter").css("border-color", "yellow");
					break;
				case 50:
					$("#passwordMeter").css("border-color", "orange");
					break;
				case 75:
					$("#passwordMeter").css("border-color", "lightgreen");
					break;
				case 100:
					$("#passwordMeter").css("border-color", "green");
					break;
			}
		}
	</script>
}