@model IUserDto
@using Hadi.Cms.Infrastructure.Helpers
@using Hadi.Cms.Language.Resources
@using Hadi.Cms.Model.Entities
@using Hadi.Cms.Model.Mappings.Interfaces

@{
    ViewBag.Title = Strings.Global_UserRoles;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style{
    <link href="~/Content/RadaTemplate/css/plugins/iCheck/custom.css" rel="stylesheet">
}

<style>
    .bold {
        font-weight: bold;
    }

    .icheckbox_square-green.checked.disabled {
        background-color: green !important;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Strings.Global_UserRoles</h2>
        <ol class="breadcrumb">
            <li>

            </li>
            <div style="float: left; display: @(ViewBag.Success == null ? "none" : "block")">
                <div class="alert @(ViewBag.Success == "1" ? "alert-success" : "alert-danger") alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    @ViewBag.Message
                </div>
            </div>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@Strings.Global_User</h5>
                </div>
                <div class="ibox-content">
                    @if (ViewBag.UserId != null)
                    {
                        <input type="hidden" id="itemId" value="@ViewBag.UserId" />
                    }
                    <ul class="todo-list m-t">
                        @{
                            if (ViewBag.UserId != null)
                            {
                                var userId = (Guid)ViewBag.UserId;
                                <li>
                                    <input type="checkbox" value="" name="user_@userId" id="user_@userId" disabled="" class="i-checks check-tick" />
                                    <span class="m-l-xs">@ViewBag.UserFullName</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@Strings.Global_Roles</h5>
                </div>
                <div class="ibox-content">
                    @if (ViewBag.UserId != null)
                    {
                        var userId = (Guid)ViewBag.UserId;
                        <ul class="todo-list m-t">
                            @foreach (var item in (List<IRoleDto>)ViewBag.Roles)
                            {
                                var roleIsForThisUser = item.UserRolesDto.Any(ur => ur.RoleId == item.Id && ur.UserId == userId);
                            <li>
                                <input type="checkbox" value="" name="role_@item.Id" id="role_@item.Id" disabled="" class="i-checks @(roleIsForThisUser ? "check-tick" : "")" />
                                <a onclick="setRoleToUser('@item.Id', '@userId')">
                                    <span class="m-l-xs @(roleIsForThisUser ? "bold" : "")">@item.DisplayName</span>
                                    <small class="label label-info">@item.Name</small>
                                </a>
                            </li>
                            }
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/RadaTemplate/js/plugins/iCheck/icheck.min.js"></script>

    <script>
		$(function () {
			var itemId = $("#itemId");
			if (itemId)
			{
				$(".check-tick").parent().addClass("disabled checked");
			}
		});

		function setRoleToUser(roleId, userId) {
			var param = "@Url.Action("SetRoleToUser", "Users", null, this.Request.Url.Scheme)";
			var ajaxdata = "RoleId=" + roleId + "&UserId=" + userId;
			@Html.Ajax("POST", "", "nowhere", "ReturnSetRoleToUser")
		}

		function ReturnSetRoleToUser(data) {
			if (data.type == "add"){
				$("#role_" + data.roleId).parent().addClass("disabled checked");
			}
			else {
				$("#role_" + data.roleId).parent().removeClass("disabled checked");
			}
		}

		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green'
		});

		$(".todo-list").sortable({
			placeholder: "sort-highlight",
			handle: ".handle",
			forcePlaceholderSize: true,
			zIndex: 999999
		}).disableSelection();
    </script>
}