@using Hadi.Cms.Infrastructure.Helpers
@using Hadi.Cms.Model.Mappings.Interfaces
@{
    Layout = "/Views/Shared/_HomePageLayout.cshtml";
}

<section class="knowledge-information container-fluid">
    <div class="cube">
        <img src="/Content/Images/Hadi/Cube.png" alt="">
    </div>
    <div class="so-display-h2 so-display-h2-mobile font-anjoman line-0">
        همراه شما
    </div>
    <div class="so-display-h2 so-display-h2-mobile font-anjoman line-0">
        <span>در دنیای</span>
        <span class="text-Turmeric">خـــلّاق</span>
        <span>نرم افزار</span> 
    </div>
    <div class="grid mt-3 mr-5">
        <div class="title mt-4">
            در کدامیک از حوزه های دنیای فناوری اطلاعات فعال هستیم؟
        </div>
        <div class="sub-grid pr-5">
            <div class="text-container border-only-bottom">
                <span class="ml-3">Content</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">DevOps</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Software Test</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Programming</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-3">NETWork</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">CMS</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Digital Marketing</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">USER Experience</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-3">Software Architecture</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Software QA</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Infrastructure</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Computer Graphics</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-3">BI</span>
                <img src="/Content/Images/Hadi/loadingKnowledge.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Block Chain</span>
                <img src="/Content/Images/Hadi/loadingKnowledge.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Software Engineering</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Information Security</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-custom-bottom">

            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">IOT</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">AI</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Quantom Computing</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container">

            </div>
            <div class="text-container custom-div">
                <div class="custom-right"></div>
                <div class="custom-bottom"></div>
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">GIS</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-right-bottom">
                <span class="ml-3">Date Science</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div></div>
            <div></div>
            <div class="border-right-custom"></div>
            <div class="border-right-custom"></div>
        </div>
    </div>
    <div class="grid-mobile mt-3">
        <div class="title mt-4">
            در کدامیک از حوزه های دنیای فناوری اطلاعات فعال هستیم؟
        </div>
        <div class="sub-grid-mobile">
            <div class="text-container border-left-bottom">
                <span class="ml-2">CMS</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Software Test</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Programming</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">DevOps</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Digital Marketing</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">USER Experience</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Content</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Infrastructure</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Computer Graphics</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">NETWork</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Software Engineering</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Information Security</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">BI</span>
                <img src="/Content/Images/Hadi/loadingKnowledge.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Software Architecture</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Software QA</span>
                <img src="/Content/Images/Hadi/greenTick.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">IOT</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">Quantom Computing</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Block Chain</span>
                <img src="/Content/Images/Hadi/loadingKnowledge.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">GIS</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-left-bottom">
                <span class="ml-2">AI</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="text-container border-only-bottom">
                <span class="ml-2">Date Science</span>
                <img src="/Content/Images/Hadi/dismissKnowledge.svg" alt="">
            </div>
            <div class="border-left-custom"></div>
            <div class="border-left-custom"></div>
            <div></div>
        </div>
    </div>
</section>
<section class="container-fluid projects-information">

    <div class="width-style">
        <div class="information-title mb-3">
            <div class="so-display-h2  so-display-h2-mobile font-anjoman">
                <span>پروژه های</span>
                <span class="text-Turmeric ">موفــــــــــــق</span>
            </div>
            <a href="@Url.Action("Index","Projects")" class="text-Turmeric so-body-2 all-projects-more">
                همه پروژه ها
            </a>
        </div>
        <div class="carsuol-logo nav">
            @foreach (var employer in (List<IEmployerDto>)ViewBag.Employers)
            {
                <div id="@employer.Id" class="image nav-item project-name ">
                    <a href="" class="nav-link" data-toggle="tab" onclick="activeProject(this)">
                        <img src="@employer.LogoSource" alt="@employer.Name">
                    </a>
                </div>
            }
        </div>

        <div class="carsuol-logo-mobile">
            @foreach (var employer in (List<IEmployerDto>)ViewBag.Employers)
            {
                <div id="@employer.Id" class="image">
                    <img src="@employer.LogoSource" alt="@employer.Name">
                </div>
            }
        </div>


    </div>
    <div class="tab-content">
        <div class="d-flex-custom">
            <div class="information">
                <div class="description mr-2">
                    <div class="title so-display-h3">
                    </div>
                    <div class="text-style">

                    </div>
                    <div class="show-project arrow-button-intraction d-flex">
                        <span> </span>

                    </div>
                    <div class="btn-container">

                    </div>
                </div>
                <div class="mt-4 text-medium so-body-2 mb-3 padding-custom d-flex">
                    پروژه های دیگر :

                </div>
                <div class="box-container">
                    <div class="other-project-container mr-5">
                        <div class="other-project mb-2 arrow-button-intraction">
                            <span>
                            </span>

                        </div>
                        <div class="other-project arrow-button-intraction">
                            <span>
                            </span>

                        </div>
                    </div>
                    <div class="other-project-container">
                        <div class="other-project mb-2 arrow-button-intraction">
                            <span>
                            </span>

                        </div>
                        <div class="other-project arrow-button-intraction">
                            <span>
                            </span>

                        </div>
                    </div>
                </div>

            </div>
            <div class="image-custom mt-5">
                <img src="" alt="" srcset="">
            </div>
        </div>
    </div>
</section>
@Html.Action("SpecialArticlePartial", "Articles", new { id = 4 })
<section class="container-fluid services">
    <div class="so-display-h2 mb-5  so-display-h2-mobile font-anjoman">
        <span>هم اکنون</span>
        <span class="text-Turmeric">اقـــدام</span>
        <span>کنید!</span>
    </div>
    <div class="services-container">
        <div class="meeting">
            <div class="grid">
                <div class="border-bottom-custom"></div>
                <div class="border-bottom-custom border-right-custom title-custom so-titr">
                    اگر نیاز به خدمات
                    هادی دارید...
                </div>
                <div></div>
                <div class="border-right-custom description-custom so-subheading-text">
                    <div>
                        چنانچه برای مشخص شدن ابعاد پروژه، نیاز به مشاوره ی متخصصان ما دارید، می توانید از این
                        طریق، قرار جلسه ای را تنظیم نمایید.
                    </div>
                    <div onclick="goToContactUs()" class="btn-custom meeting bg-green mt-4 arrow-button-intraction pointer">
                        <a class="text-white" href="/Pages/Details?pageAlias=contact-us">
                            تنظیم جلسه
                        </a>
                        <img class="mr-2" src="/Content/Images/Hadi/arrow-left.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/Content/Images/Hadi/Labtop.png" alt="">
            </div>
        </div>
        <div class="meeting">
            <div class="grid">
                <div class="border-bottom-custom"></div>
                <div class="border-bottom-custom border-right-custom title-custom so-titr">
                    اگر علاقه دارید به ما
                    بپیوندید...
                </div>
                <div></div>
                <div class="border-right-custom description-custom so-subheading-text">
                    <div>
                        اگر مشتاق به حضور در تیم های تخصصی شرکت هادی هستید، می توانید از طریق فرم همکاری، ما را
                        در جریان این موضوع قرار دهید.
                    </div>
                    <div class="btn-custom cowork bg-green mt-4 arrow-button-intraction pointer ">
                        <a class="text-white" href="/Pages/Details?pageAlias=career">
                            درخواست همکاری
                        </a>
                        <img class="mr-2" src="/Content/Images/Hadi/arrow-left.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="/Content/Images/Hadi/Chair.png" alt="">
            </div>
        </div>
        <!-- <div class="co-wrok">
            <div class="grid">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
            </div>
            <div class="image-container">
                <img src="/Content/Images/Hadi/Chair.png" alt="">
            </div>
        </div> -->
    </div>
</section>