@using Model

@{
	ViewBag.Title = Strings.Global_Rules;
	Layout = "~/Views/Shared/_LayoutBaseLogin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="rules">
	<div class="text-justify" style="direction:rtl;">
		•&nbsp;کاربرگرامي پيش از عضويت در سايت و هرگونه استفاده از امکانات ارائه شده ضمن خواندن کامل و دقيق قوانين و سياست سايت نسبت به پذيرش آن اقدام نمائيد ، اين قوانين جهت جلوگيري از هرگونه سو استفاده و کلاهبرداري احتمالي ضمن احترام بين سايت و اعضا تنظيم گرديده است و عدم پذيرش اين قوانين به معني عدم ثبت نام و استفاده از سايت توسط کاربر مي باشد.<br>
		•&nbsp;مديريت و مرجع فعاليت اين سايت در جمهوري اسلامي ايران قرار دارد و درصورت وجود تخلف از سمت کاربران با درخواست قضايي اطلاعات کاربر خاطي در اختيار مراجع درخواست کننده قرار خواهد گرفت.<br>
		•&nbsp;استفاده از سرویس سايت در وب سایت های که محتوای غیر قانونی ، غیر اخلاقی ، مبتذل ، توهین آمیز ، تهدید کننده ، افترا آمیز و همچنین توهین به نژاد و دسته خاصی از مردم کرده باشند غیرمجاز است ودر صورت آگاهی حساب کاربری طرف مسدود خواهد شد.<br>
		•&nbsp;استفاده ماشینی از سرویس سايت و یا هرگونه سوء استفاه از سرویس این سایت بدون هماهنگی و اطلاع این سایت ممنوع بوده و در صورت مشاهده با کاربر خاطی برخورد خواهد شد.<br>
		•&nbsp;در صورت مشاهده هر گونه سوء استفاده ، تخلف و یا خراب کاری در سایت توسط کاربر ، سايت اکانت را شناسایی مسدود و مصادره می نماید.<br>
		•&nbsp;هنگامی که شما از سرویس‌‏ها و خدمات @Settings.Application_CompanyName استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید می‏‌کنید و یا به @Settings.Application_CompanyName ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که @Settings.Application_CompanyName به صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه و سایر سرویس‌های الکترونیکی) به درخواست شما پاسخ دهد.<br>
		•&nbsp;@Settings.Application_CompanyName به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند.<br>
		•&nbsp;@Settings.Application_CompanyName متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را، توسعه دهد. در واقع با استفاده از سایت @Settings.Application_CompanyName، شما رضایت خود را از این سیاست نشان می‏‌دهید.<br>
	</div>
</div>