@using Hadi.Cms.ApplicationService.Services
@using Hadi.Cms.Configuration
@using Hadi.Cms.Infrastructure.Helpers
@using Hadi.Cms.Language.Resources
@using Hadi.Cms.Web.Utilities

@{
    bool rightToLeft = SessionData.Current.HasRightToLeftUI;
}

<!DOCTYPE html>
<html lang="@(rightToLeft? "fa" : "en")" dir="@(rightToLeft?"rtl" : "ltr")">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @{
        var pageId = Request.QueryString["Id"] != null ? Guid.Parse(Request.QueryString["Id"]) : Guid.Empty;
        var contentImageSource = "/Content/images/LogoShare.png";
        var contentService = new PageService();
        var keywords = contentService.GetPageKeywords(pageId);
        var description = contentService.GetPageDescription(pageId);

        if (pageId != Guid.Empty)
        {
            var attachmentGuid = contentService.Get(c => c.Id == pageId).ImageId;
            contentImageSource = new AttachmentFileService().GetAttachmentSourceValue(attachmentGuid);

            @Html.MetaTag(description, keywords);
        }
        else
        {
            <meta name="description" content="@Strings.Global_DescriptionMetaTag">
            <meta name="keywords" content="@Strings.Global_KeywordMetaTag">
        }
    }

    <meta property="og:type" content="website">
    <meta property="og:title" content="@Settings.Application_CompanyName - @ViewBag.Title" />
    <meta property="og:site_name" content="@Settings.Application_CompanyName" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@(Request.Url?.Scheme + "://" + Request.Url?.Authority + contentImageSource)" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <link href="/Content/Stylesheet/Hadi/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Stylesheet/Bootstrap4/bootstrap.min.css">


    <script src="~/Scripts/Bootstrap4/jquery.slim.js"></script>
    <script src="~/Scripts/Bootstrap4/popper.min.js"></script>
    <script src="~/Scripts/Bootstrap4/bootstrap.min.js"></script>
    

</head>

@{
    var bodyId = string.IsNullOrEmpty(ViewBag.IdBody as string) ? "main" : ViewBag.IdBody; 
}

<body onload="loadMenu()" id="@bodyId">
    <header id="nav-bar">
        <div class="nav-container">
            <a href="/">
                <img class="logo-style" src="/Content/Images/Hadi/Hadi_logo.svg" alt="هادی">
            </a>
            <nav class="nav-custom">
                <ul id="menu" class="items"></ul>
                <div class="search">
                    <div>
                        @Html.Action("SocialNetworkPartial", "SocialNetwork")
                    </div>
                    <!-- <img src="./assets/images/magnifier-03.svg" alt="" srcset="">
                    <input type="text" placeholder="جستجو...."> -->
                </div>
            </nav>
        </div>
        <nav class="nav-custom-mobile">
            <div>
                <img class="logo-style" src="/Content/Images/Hadi/Hadi_logo.svg" alt="هادی">
            </div>
            <div class="z-index-3 pointer" onclick="toggleLink2(this,false)">
                <img class="burger-image" src="/Content/Images/Hadi/1x/burger.png" alt="" srcset="">
            </div>
        </nav>
        <hr class="line-break-custom">
        <div class="mobile-menu" id="mobileMenu">

        </div>
        <div class="mega-menu" id="megaMenu">

        </div>
    </header>
    @RenderBody()

    <footer>
        <div class="goup-element" onclick="topFunction()">
            <svg class="go-up-button" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 147 134"
                style="enable-background:new 0 0 147 134;">
                <g id="Layer_1">
                    <g>
                        <g>
                            <path class="st350" d="M142.38,0.51c2.2,0,3.99,1.79,3.99,3.99V107.3c0,2.2-1.79,3.99-3.99,3.99H34.1c-2.2,0-3.99-1.79-3.99-3.99
    V4.51c0-2.2,1.79-3.99,3.99-3.99H142.38 M142.38,0.31H34.1c-2.32,0-4.2,1.88-4.2,4.2V107.3c0,2.32,1.88,4.2,4.2,4.2h108.28
    c2.32,0,4.2-1.88,4.2-4.2V4.51C146.58,2.19,144.7,0.31,142.38,0.31L142.38,0.31z" />
                        </g>
                        <g>
                            <path class="st350" d="M88.84,45.36c1.72,0,3.12,1.4,3.12,3.12v82.2c0,1.72-1.4,3.12-3.12,3.12H3.94c-1.72,0-3.12-1.4-3.12-3.12
    v-82.2c0-1.72,1.4-3.12,3.12-3.12H88.84 M88.84,45.16H3.94c-1.83,0-3.32,1.49-3.32,3.32v82.2c0,1.83,1.49,3.32,3.32,3.32h84.9
    c1.83,0,3.32-1.49,3.32-3.32v-82.2C92.16,46.64,90.68,45.16,88.84,45.16L88.84,45.16z" />
                        </g>
                        <g>
                            <path class="st58" d="M75.47,63.85h33.39c1.1,0,2-0.9,2-2V28.46c0-1.1-0.9-2-2-2H75.47c-1.1,0-2,0.9-2,2v33.39
    C73.47,62.96,74.36,63.85,75.47,63.85z" />
                            <g>
                                <g>
                                    <path class="st50" d="M95.85,40.67l2,2.01c0.16,0.16,0.41,0.16,0.56,0c0.08-0.08,0.12-0.18,0.12-0.28s-0.04-0.2-0.12-0.28
      l-2-2.01L95.85,40.67z" />
                                    <path class="st50"
                                        d="M94.58,38.28l-2.13-2.13c-0.16-0.16-0.41-0.16-0.56,0l-5.97,5.97c-0.16,0.16-0.16,0.41,0,0.56
      c0.16,0.16,0.41,0.16,0.56,0l5.29-5.29v17.34c0,0.22,0.18,0.4,0.4,0.4s0.4-0.18,0.4-0.4V37.39l1.45,1.45L94.58,38.28z" />
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

        </div>
        <div class="footer-desktop">
            <div class="footer-container">
                <div class="quick-access">
                    <div class="trust-part">
                        <div class="text-center icons ">
                            <div class="trust mb-2">
                                @if (!string.IsNullOrEmpty(Settings.Application_ENamadCode))
                                {
                                    @Html.Raw(Settings.Application_ENamadCode)
                                }
                                </div>
                                <div class="font-anjoman">
                                    <span>
                                        کسانی که همراه
                                    </span>
                                    <img class="shake-style" src="/Content/Images/Hadi/shake_hands.svg" alt="">
                                </div>
                                <div class="text-center font-anjoman">
                                    <span class="text-Turmeric">
                                        هادی
                                    </span>
                                    <span>
                                        هستند
                                    </span>
                                </div>
                                @Html.Action("PartnersPartial", "Partners")
                            </div>
                        </div>
                    </div>
                    <div class="grid-part">
                        @Html.Action("FooterCategoryPartial", "Footer")
                    </div>
                </div>
                <div class="other-information">
                    <div class="partner font-anjoman">
                        <div class="so-subheading-h6 text-regular mb-3 text-right d-flex justify-content-center">
                        </div>

                    </div>
                    <div class="social-media text-center">
                        <div class="so-subheading-text mb-2">
                            همچنین مارا دنبال کنید در :
                        </div>
                        <div>
                            @Html.Action("SocialNetworkPartial", "SocialNetwork")
                        </div>
                    </div>
                    <div class="maps mt-5">
                        <img src="/Content/Images/Hadi/pardis_map.png" alt="">
                    </div>
                    <div class="maps mt-5">
                        <img src="/Content/Images/Hadi/tehran-map.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-mobile">
                @Html.Action("FooterCategoryPartial", "Footer", new { footerMobile = true })
                @*<div class="so-display-h2 text-light-custom text-left mb-2">
                    <img class="pin-image mr-1" src="../assets/images/pin.svg" alt="">
                    <span class="so-display-h2">
                    آدرس دفتر مرکزی :
                    </span>
                    <span class="so-display-h2 text-regular">
                    تهران، کیلومتر20 جاده دماوند، پارک فناوری هادی، کوچه نوآوری 8، پلاک 82
                    </span>
                    </div>
                    <div class="so-display-h2 text-light-custom text-left mb-2">
                    <img class="pin-image mr-1" src="/Content/Images/Hadi/pin.svg" alt="">
                    <span class="so-display-h2">
                    آدرس دفتر تهران :
                    </span>
                    <span class="so-display-h2 text-regular">
                    خیابان شریعتی، خیابان دستگردی (ظفر)، بین کوچه شریفی و بامداد، پلاک 43، طبقه سوم
                    </span>
                    </div>
                    <div class="so-display-h2 text-light-custom text-left mb-2">
                    <img class="pin-image mr-1" src="/Content/Images/Hadi/telephone.svg" alt="">
                    <span class="so-display-h2">
                    تلفن های تماس:
                    </span>
                    <span class="so-display-h2 text-regular">
                    22905676 - 021
                    </span>
                    </div>
                    <div class="so-display-h2 text-light-custom text-left mb-2">
                    <img class="pin-image mr-1" src="/Content/Images/Hadi/email.svg" alt="">
                    <span class="so-display-h2">
                    ایمیل :
                    </span>
                    <span class="so-display-h2 text-regular">
                    info@hadi.co
                    </span>
                    </div>*@
                <div class="maps mt-5 park">
                    <img src="/Content/Images/Hadi/Pardis_map.png" alt="">
                </div>
                <div class="maps mt-5 zafar">
                    <img src="/Content/Images/Hadi/tehran-map.png" alt="">
                </div>
                <div class="partner mt-5 font-anjoman">
                    <div class="so-display-h2 text-regular mb-4">

                        @if (!string.IsNullOrEmpty(Settings.Application_ENamadCode))
                    {
                        @Html.Raw(Settings.Application_ENamadCode)
                    }
                        <div class="font-anjoman">
                            <span>
                                کسانی که همراه
                            </span>
                            <img class="shake-style" src="/Content/Images/Hadi/shake_hands.svg" alt="">
                        </div>
                        <div class="text-center font-anjoman">
                            <span class="text-Turmeric">
                                هادی
                            </span>
                            <span>
                                هستند
                            </span>
                        </div>
                    </div>
                    @Html.Action("PartnersPartial", "Partners")
                </div>
                <div class="social-media my-5">
                    <div class="so-display-h2 mb-4 text-regular">
                        همچنین مارا دنبال کنید در :
                    </div>
                    <div>
                        @Html.Action("SocialNetworkPartial", "SocialNetwork")
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-center text-regular pb-4 copy-right so-subheading-text">
                <span>
                    Designed & Developed By
                </span>
                <img src="/Content/Images/Hadi/hadi_logo_footer.svg" alt="">
                <span>
                    © <span class="font-en-sans-serif">2020</span> CopyRight
                </span>

            </div>
        </footer>
        @Scripts.Render("~/Scripts/Hadi/MainJS")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/slick/jquery.min.js"></script>
        <script src="~/Scripts/slick/slick.js"></script>
        <script src="/Scripts/dropzone-5.7.0/dist/dropzone.js"></script>
        <script src="/Scripts/dropzone-5.7.0/dist/dropzone.js"></script>
        <script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="/Scripts/sharetastic-master/dist/sharetastic.js"></script>
        <script>
           $(document).ready(function(){
    setTimeout(function () {
          $(this).scrollTop(0);
    }, 100);
            var menuContainer = document.querySelector("#menu");
            var mobileMenuContainer = document.querySelector("#mobileMenu");
            var megaMenuContainer = document.querySelector("#megaMenu");
            var megaMenuMobileContainer = document.querySelector("#mobileMegaMenu");

            var activeEmployer;
            var mobileActiveEmployer;
            var employerId;
            var mobileEmployerId;
            function loadMenu() {
                var param = "@Url.Action("GetMenu", "Menus", null, this.Request.Url.Scheme)";
                var ajaxdata = "";
                @Html.Ajax("GET", "", "nowhere", "returnLoadMenu")
            }
            function returnLoadMenu(data) {
                //console.log(data);
                console.log(data);
                let navbarHtml = "";
                let mobileNavbarHtml = "";
                let megaMenuHtml = "";
                let mobileMegaMenuHtml = "";
                let megaMenuCostum = "";

                for (var i = 0; i < data.Navbar.length; i++) {
                    navbarHtml += "<li class='item'>";
                    if (data.Navbar[i].HasMegaMenu) {
                        navbarHtml += "<a class='link pointer' onclick='toggleLink(this,true)' >";
                        navbarHtml += data.Navbar[i].Title;
                        navbarHtml += "<img class='arrow-up mr-2' src='/Content/Images/Hadi/arrow_down-03.svg'>";
                    }
                    else {
                        navbarHtml += "<a class='link' href='" + data.Navbar[i].Link + "'>";
                        navbarHtml += data.Navbar[i].Title;
                    }
                    navbarHtml += "</a>";
                    navbarHtml += "</li>";
                }
                for (var i = 0; i < data.MegaMenu.length; i++) {
                    megaMenuCostum += "<a  href='" + data.MegaMenu[i].Link + "' class='title'>";
                    megaMenuCostum += data.MegaMenu[i].Title;
                    megaMenuCostum += "</a>";
                }
                for (var i = 0; i < data.SideBarItem.length; i++) {
                    megaMenuCostum += "<a href='" + data.SideBarItem[i].Link + "' class='title'>";
                    megaMenuCostum += data.SideBarItem[i].Title;
                    megaMenuCostum += "</a>";
                }
                for (var i = 0; i < data.Navbar.length; i++) {
                    mobileNavbarHtml += "<li class='item'>";
                    if (data.Navbar[i].HasMegaMenu) {
                        mobileNavbarHtml += "<a class='link pointer' id='heading'  data-toggle='collapse' data-target='#collapseOne'  href='#collapseOne' onClick='changeMegaMenuImage(this,true)' >";
                        mobileNavbarHtml += data.Navbar[i].Title;
                        mobileNavbarHtml += "<img class='arrow-up mr-2' src='/Content/Images/Hadi/arrow_down-03.svg'>";
                        mobileNavbarHtml += "<div id='collapseOne' class='collapse collapse-container' >";
                        mobileNavbarHtml += megaMenuCostum;
                        mobileNavbarHtml += "</div>";
                    }
                    else {
                        mobileNavbarHtml += "<a class='link' href='" + data.Navbar[i].Link + "'>";
                        mobileNavbarHtml += data.Navbar[i].Title;
                    }
                    mobileNavbarHtml += "</a>";
                    mobileNavbarHtml += "</li>";
                }

                for (var i = 0; i < data.MegaMenu.length; i++) {
                    megaMenuHtml += "<div class='box'>";
                    megaMenuHtml += "<a style='border-color:" + data.MegaMenu[i].Color + "' href='" + data.MegaMenu[i].Link + "' class='title'>";
                    megaMenuHtml += data.MegaMenu[i].Title;
                    megaMenuHtml += "</a>";
                    for (var x = 0; x < data.MegaMenu[i].MegaMenuItem.length; x++) {
                        megaMenuHtml += "<div class='mb-3'>";
                        megaMenuHtml += "<a href='" + data.MegaMenu[i].MegaMenuItem[x].Link + "'>";
                        megaMenuHtml += data.MegaMenu[i].MegaMenuItem[x].Title;
                        megaMenuHtml += "<a>";
                        megaMenuHtml += "</div>";
                    }
                    megaMenuHtml += "</div>";
                }
                megaMenuHtml += "<div class='box-custom'>";
                for (var i = 0; i < data.SideBarItem.length; i++) {
                    megaMenuHtml += "<div class='border-bottom-custom padding-x-custom'>";
                    megaMenuHtml += "<a href='" + data.SideBarItem[i].Link + "'>";
                    megaMenuHtml += data.SideBarItem[i].Title;
                    megaMenuHtml += "</a>";
                    megaMenuHtml += "</div>";
                }
                megaMenuHtml += "</div>";


                mobileMegaMenuHtml += "<div class='box'>";
                for (var i = 0; i < data.MegaMenu.length; i++) {
                    mobileMegaMenuHtml += "<a  href='" + data.MegaMenu[i].Link + "' class='title'>";
                    mobileMegaMenuHtml += data.MegaMenu[i].Title;
                    mobileMegaMenuHtml += "</a>";
                }
                for (var i = 0; i < data.SideBarItem.length; i++) {
                    mobileMegaMenuHtml += "<a href='" + data.SideBarItem[i].Link + "' class='title'>";
                    mobileMegaMenuHtml += data.SideBarItem[i].Title;
                    mobileMegaMenuHtml += "</a>";
                }
                mobileMegaMenuHtml += "</div>";


                menuContainer.innerHTML = navbarHtml;
                mobileMenuContainer.innerHTML = mobileNavbarHtml;
                megaMenuContainer.innerHTML = megaMenuHtml;
                console.log("asdfalusdhflkjashdlfjhgaosjdhgfyua");
                console.log(mobileMenuContainer);
            }

        </script>
    </body>

    </html>