@using Hadi.Cms.Infrastructure.Helpers
@using Hadi.Cms.Language.Resources
@model  PagedList.IPagedList<Hadi.Cms.Model.Mappings.Interfaces.ITemplateDto>

@{
    ViewBag.Title = Strings.Global_TemplatesManagement;
}

@section style{
    @Styles.Render("~/Content/RadaTemplate/css/plugins")
}

<style>
    .float-e-margins .btn {
        margin-left: 4px;
    }

    .ibox .fa {
        font-size: 14px !important;
    }

    .opr table {
        margin: 0px 0px -7px -90px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Strings.Global_TemplatesManagement</h2>
        <ol class="breadcrumb">
            <li>

            </li>
            <div style="float: left; display: @(ViewBag.Success == null ? "none" : "block")">
                <div class="alert @(ViewBag.Success == "1" ? "alert-success" : "alert-danger") alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    @ViewBag.Message
                </div>
            </div>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<p></p>

<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Strings.Global_TemplatesList</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up">
                            </i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks">
                            </i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("Create", "Templates", new { area = "Admin" })">
                                    @Strings.Global_NewTemplate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" name="search" class="form-control input-sm m-b-xs" id="filter" placeholder="@Strings.Global_SearchInTable">
                    <div class="hr-line-dashed"></div>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter="#filter">
                        <thead>
                            <tr>
                                <th>@Strings.Table_RowNumber</th>
                                <th>@Strings.TemplateModel_Title</th>
                                <th>@Strings.TemplateModel_IsActive</th>
                                <th>@Strings.Table_UserOperations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var rowId = 0;
                                for (var i = 1; i < ViewBag.PageNumber; i++)
                                {
                                    rowId += 5;
                                }

                                foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td class="center">
                                            @(rowId += 1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.Title)
                                        </td>
                                        <td class="center">
                                            @if (item.IsActive)
                                            {
                                                <strong class="label label-primary">@Strings.Global_Yes</strong>
                                            }
                                            else
                                            {
                                                <strong class="label label-danger">@Strings.Global_No</strong>
                                            }
                                        </td>
                                        <td class="opr">
                                            <table>
                                                <tr>
                                                    <th>
                                                        <a onclick="DeleteTemplateAlert('@item.Id');" class="btn btn-danger btn-circle" title="@Strings.Global_Delete"><i class="fa fa-remove"></i></a>
                                                    </th>
                                                    <th>
                                                        <a href="@Url.Action("Edit", "Templates", new { area = "Admin", Id = item.Id })" class="btn btn-primary btn-circle" title="@Strings.Global_Edit"><i class="fa fa-edit"></i></a>
                                                    </th>
                                                    <th>
                                                        <a href="@Url.Action("ChangeStatus", "Templates", new { area = "Admin", templateId = item.Id })" class="btn btn-warning btn-circle" title="@Strings.Global_ChangeStatus"><i class="fa fa-exchange"></i></a>
                                                    </th>
                                                    <th>
                                                        <a href="@Url.Action("Index", "TemplateDetails", new { area = "Admin", TemplateId = item.Id })" class="btn btn-info btn-circle" title="@Strings.TemplateDetails"><i class="fa fa-list"></i></a>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div aria-label="Page navigation" class="text-center" id="myPager2">
                    @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
                </div>


            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Content/RadaTemplate/js/plugins")

    <script>

		$(function () {
			$('.footable').footable();
		});

		function DeleteTemplateAlert(Id) {
			swal({
				title: '@Strings.Are_You_Sure',
				text: '@Strings.Template_Delete_Message',
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: '@Strings.Yes',
				cancelButtonText: '@Strings.No',
				closeOnConfirm: false,
				closeOnCancel: true
			},
			function (isConfirm) {
				if (isConfirm) {
					DeleteTemplate(Id);
				}
			});
		}

		function DeleteTemplate(id) {
			var param = "@Url.Action("Delete", "Templates", null, this.Request.Url.Scheme)";
			var ajaxdata = "Id=" + id;
			@Html.Ajax("POST", "", "nowhere", "ReturnDeleteTemplate")
		}

		function ReturnDeleteTemplate(data) {
			swal({
				title: data.Success,
				text: data.Message,
				type: "success",
				showCancelButton: false,
				confirmButtonColor: "#23c6c8",
				confirmButtonText: "OK",
				closeOnConfirm: true
			}, function () {
				window.location.reload();
			});
		}

    </script>
}
