@using Hadi.Cms.Language.Resources
@model Hadi.Cms.Model.QueryModels.TagModel

@{
    ViewBag.Title = Strings.Global_EditTag;
}

@section style{
    <!-- for checkbox and radios -->
    <link href="~/Content/RadaTemplate/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.rtl.css" rel="stylesheet">
    <link href="~/Content/RadaTemplate/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/RadaTemplate/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="~/Content/RadaTemplate/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Strings.Global_EditTag</h2>
        <ol class="breadcrumb">
            <li>
                <input type="submit" form="EditTagForm" value="@Strings.Global_Save" class="btn btn-primary" />
                @if (ViewBag.Success == "1")
                {
                    <a href="@Url.Action("Edit", "Tags", new { area = "Admin" })" class="btn btn-primary">
                        @Strings.Global_EditTag
                    </a>
                }
            </li>
            <div style="float: left; display: @(ViewBag.Success == null ? "none" : "block")">
                <div class="alert @(ViewBag.Success == "1" ? "alert-success" : "alert-danger") alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    @ViewBag.Message
                </div>
            </div>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@using (Html.BeginForm("Edit", "Tags", FormMethod.Post, new { id = "EditTagForm", @class = "form-horizontal m-t-md", @enctype = "multipart/form-data" }))
{
    <div class="row">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsDeleted)

        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Strings.Global_NewTag</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        @Html.Label(Strings.TagModel_Title)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control rtl-input" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label(Strings.TagModel_UniqueValue)
                        @Html.EditorFor(model => model.UniqueValue, new { htmlAttributes = new { @class = "form-control rtl-input" } })
                        @Html.ValidationMessageFor(model => model.UniqueValue, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label(Strings.TagModel_Parent)
                        @Html.DropDownListFor(model => model.ParentId, new SelectList(ViewBag.Tags, "Id", "Title"), "انتخاب کنید...", new { @class = "form-control rtl-input select2" })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label(Strings.TagModel_Color)
                        <input type="text" name="Color" value="@Model.Color" class="form-control rtl-input" data-jscolor />
                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label(Strings.TagModel_IsActive)
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "rtl-input .i-checks" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-0">
            <input type="submit" value="@Strings.Global_Save" class="btn btn-primary" />
        </div>
    </div>
}


@section scripts{
    <script src="~/Content/RadaTemplate/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Content/RadaTemplate/js/plugins/summernote/summernote.min.js"></script>
    <script src="/Scripts/jscolor.js"></script>
    <script>
        $(function () {

            $('#EditTagForm').submit(function () {
                if ($("#Name").val() == "") {
                    MyAlert('خطا', 'لطفا عنوان کلمه کلیدی را وارد کنید', 4000, 'error');
                    return false;
                }
                else {
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: formData,
                        success: function (result) {
                            alert(result);
                        },
                        error: function () {
                            alert('error');
                        }
                    });
                    return false;
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}
