@using Hadi.Cms.Language.Resources

@model PagedList.IPagedList<Hadi.Cms.Model.Mappings.Interfaces.IEventLogDto>

@if (Model != null)
{

    var rowId = 0;
                                
    for (var i = 1; i < ViewBag.PageNumber; i++)
    {
        rowId += 5;
    }

    foreach (var item in Model)
    {
    <tr class="gradeX">
        <td class="center">
            @(rowId += 1)
        </td>
        <td>
            @Html.DisplayFor(m => item.EventCode)
        </td>
        <td class="center">
            @if (!string.IsNullOrEmpty(item.EventType) && item.EventType == "E")
            {
                <strong class="label label-danger">
                    @item.EventType
                </strong>
            }
            @if (!string.IsNullOrEmpty(item.EventType) && item.EventType == "I")
            {
                <strong class="label label-info">
                    @item.EventType
                </strong>
            }
            @if (!string.IsNullOrEmpty(item.EventType) && item.EventType == "W")
            {
                <strong class="label label-warning">
                    @item.EventType
                </strong>
            }
        </td>
        <td>
            @Html.DisplayFor(m => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(m => item.UserName)
        </td>
        <td>
            @item.EventTime.ToString("yyyy/MM/dd  HH:MM")
        </td>
        <td class="opr">
            <a href="@Url.Action("Details", "EventLogs", new { area = "Admin", Id = item.Id })" class="btn btn-info btn-circle" target="_blank" title="@Strings.Global_Show"><i class="fa fa-eye"></i></a>

            <a onclick="DeleteEventLogAlert('@item.Id');" class="btn btn-danger btn-circle" title="@Strings.Global_Delete"><i class="fa fa-remove"></i></a>
        </td>
    </tr>
    }
}